<div class="container">
  <h2>Add FAQ</h2>

  <form [formGroup]="faqForm" (ngSubmit)="postFaq()">
    <mat-form-field appearance="outline" class="form-field">
      <textarea matInput placeholder="Question*" formControlName="question"></textarea>
      <mat-error *ngIf="faqForm.get('question')?.hasError('required')">This input is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <textarea matInput placeholder="Answer*" formControlName="answer"></textarea>
      <mat-error *ngIf="faqForm.get('answer')?.hasError('required')">This input is required!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add FAQ</button>
  </form>
</div>

